@media (max-width:992px) {
    .content-box {
        width:100vw !important;
         margin:0px 10px !important; 
        height: calc(100vh - 70.05px)!important;
        /* border-radius: 0px !important; */
    }
}
.content-box{
    width: calc(100vw - 270px);
    height: calc(100vh - 80.05px);
    border-radius: 15px !important;
    background-color: white;
    
}
.content-body{
    height: calc(100% - 53.8px);
}
@media (min-width:1400px){
    .content{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr  ;
     
    }
        .list-header {
            grid-template-columns: 5fr 2fr 2fr 1fr 1fr;
        }
}
@media (min-width:1200px) and (max-width:1400px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        
    }
        .list-header {
            grid-template-columns: 5fr 2fr 2fr 1fr 1fr;
        }
}
@media (min-width:992px) and (max-width:1199px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr
    }
    .list-header {
        grid-template-columns: 5fr 2fr 2fr 1fr 1fr;
    }
}
@media (max-width:991px) {
    .content {
        grid-template-columns: 1fr 1fr 
    }
        
}
@media (min-width:768px) and (max-width:992px){
    .list-header {
            grid-template-columns: 5fr 2fr 2fr 1fr 1fr;
        }
}
@media (max-width:768px){
    .list-header {
            grid-template-columns: 5fr  1fr ;
        }
}
.layout{
    border-radius: 50% !important;
    cursor: pointer;
}
.layout:hover{
    background-color: rgb(242, 246, 252)!important;
}
.no-content{
    height:60%
}

.list-header{
    height: 48px !important;
}
.breadcrumbDivider{
    --bs-breadcrumb-divider: '>';
}

.breadcrumb-item{
    color:#444746 !important;
}

.modal-backdrop {
    z-index: 10;
}
p{
    text-overflow: ellipsis;
}